/* ----- In general -----*/
main {
  padding-top: 77px;
  /* background-color: chocolate; */
}


/* to open submenus auto on hover while in screen width md and sm (not normally used for websites) */
/* @media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
      display:block;
  }
} */


/* -----------------------  -------------------------------------*/
.visibilityOff {
  display: none;
}
.visibilityOn {
  display: block;
}
.containerMessageStyle {
  background-color: #ffffe1;
  width: 70%;
  padding: 1%;
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: solid 1px orange;
  transition-timing-function: linear;
}
.messageStyle {
  text-align: center;
  color: orange;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}




/* ----- For Page Header -----*/
/* ----- For Navbar -----*/
/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
/* ============ desktop view .end// ============ */

.hovEffect {
  position: relative;
  
}
.hovEffect:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: rgb(13, 99, 156);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hovEffect:hover:before {
  visibility: visible;
  width: 100%;
}

.active {
  font-weight: bold;
}

.carouselParent {
  position: relative;
}
.textCarousel {
  position: absolute;
  right: 3%;
  bottom: 3%;
  z-index: 500;
  color: white;
}

@media screen and (min-width: 1401px) {
  p.textCarouselTitle {
      font-size: 40px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
      font-weight: bold;
  }
  p.textCarouselSubtitle {
      font-size: 25px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
  }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
  p.textCarouselTitle {
      font-size: 27px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
      font-weight: bold;
      margin: 0;
      padding: 0;
  }
  p.textCarouselSubtitle {
      font-size: 20px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
      margin: 0;
      padding: 0;
  }
}

@media screen and (max-width: 767px) {
  p.textCarouselTitle {
      font-size: 15px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
      font-weight: bold;
      margin: 0;
      padding: 0;
  }
  p.textCarouselSubtitle {
      font-size: 12px;
      text-shadow: 1px 1px 2px rgb(12, 222, 230), 0 0 10px rgb(31, 101, 231), 0 0 5px rgb(2, 2, 7);
      margin: 0;
      padding: 0;
  }
}




/* ----- For Page Footer -----*/
/* .container { */
  /* width: auto; */
  /* max-width: 680px; */
  /* padding: 0 15px; */
/* } */

.linkStyle {
  text-decoration: none;
  color: black
}

.linkStyle:hover {
  color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.socialMediaLink:hover {
  color: white
}

#copywright {
  background-color: rgb(136, 187, 221);
}



/* ----- For Home page Main Content -----*/
/* .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
} */

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.radial-gradient {
  background: rgb(35, 212, 153);
  background: radial-gradient(circle, rgb(33, 161, 212) 20%, rgb(109, 96, 185) 91%);
}

/* ----- For Clients page Main Content -----*/
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* width: 18rem; */
  /* height: 4rem; */
  margin-bottom: 1rem;
  /* font-size: 2rem; */
  /* color: #fff; */
  /* border-radius: .75rem; */
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}


/* ----- For About Us page Main Content -----*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  background: url("/data/images/aboutUs/hero-bg.png") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}
@media (max-width: 991px) {
  #hero {
    padding: 140px 0 60px 0;
  }
}
@media (max-width: 574px) {
  #hero {
    padding: 100px 0 20px 0;
  }
}
#hero .hero-img {
  width: 50%;
  float: right;
}
@media (max-width: 991px) {
  #hero .hero-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }
}
#hero .hero-info {
  width: 50%;
  float: left;
}
@media (max-width: 991px) {
  #hero .hero-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #hero .hero-info {
    width: 100%;
  }
}
#hero .hero-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}
#hero .hero-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}
@media (max-width: 767px) {
  #hero .hero-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
#hero .hero-info .btn-get-started, #hero .hero-info .btn-services {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}
#hero .hero-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}
#hero .hero-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}
#hero .hero-info .btn-services {
  border: 2px solid #fff;
}
#hero .hero-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* About Us Section
--------------------------------*/
#about {
  background: #fff;
  padding: 60px 0;
}
#about .about-container .background {
  margin: 20px 0;
}
#about .about-container .content {
  background: #fff;
}
#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}
#about .about-container p {
  line-height: 26px;
}
#about .about-container p:last-child {
  margin-bottom: 0;
}
#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}
#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}
#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
  line-height: 0;
}
#about .about-container .icon-box:hover .icon {
  background: #007bff;
}
#about .about-container .icon-box:hover .icon i {
  color: #fff;
}
#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}
#about .about-container .icon-box .title a {
  color: #283d50;
}
#about .about-container .icon-box .description {
  margin-left: 80px;
  /* line-height: 24px; */
  /* font-size: 14px; */
}
#about .about-extra {
  padding-top: 60px;
}
#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}



/* ----- For Contact page Main Content -----*/
/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}
#contact .section-header {
  padding-bottom: 30px;
}




#contact .info {
  color: #283d50;
}
#contact .info i {
  /* font-size: 32px; */
  color: #007bff;
  float: left;
  width: 35px;
  /* line-height: 0; */
}
#contact .info p {
  padding: 0 0 10px 36px;
  /* line-height: 28px; */
  /* font-size: 14px; */
}
